body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0f0f0f;
    color: #fff;
}
h2, h3, p {
    margin: 0;
}
button {
    background-color: #e60000;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}
button:hover {
    background-color: #ba1212;
}

/* Header */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #1a1a1a;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.icons {
    cursor: pointer;
}
.icons span {
    margin-right: 65px; /* Adds space to the right of each icon */
}

.icons span:last-child {
    margin-right: 0; /* Removes margin from the last icon */
}
.hide1{
    visibility:hidden;
    position: absolute;
    top: 21px;
    z-index: 1000;
    right: 0px;
    width: 223px; 
    border: 2px solid gray;  
}
.user:hover  .hide1 {
    opacity: 1;
    visibility: visible; 
} 
/* Hero Section */
.hero {
    display: flex;
    padding: 50px;
    background-color: #1a1a1a;
}
.hero-content {
    flex: 1;
}
.hero-content h1 {
    font-size: 36px;
    margin-bottom: 10px;
}
.hero-content .price {
    font-size: 24px;
    margin-bottom: 20px;
    color:#fff
}
.hero-content .old-price {
    text-decoration: line-through;
    color: #777;
}
.hero-image img {
    width: 350px;
    margin-right: 550px;
}
/* Featured Products */
.heading2{
    color:lightgrey;
    text-align: center;
    font-size: 35px;
}   
.body2flex{
   display:flex;
   color:lightgrey;
}
.FPimg1{
   height: 100px;
   width:100px;
}
.FPimg2{
   height: 175px;
   width: 185px;
   position: relative;
   right: 16px;
}
.FPimg3{
   height:250px;
   width:250px;
   position: relative;
   right: 20px;
} 
.FPimg4{
   height: 173px;
   width: 181px;
   position: relative;
   right: 17px;
}  
.FPimg5{
   height: 100px;
   width:100px;
} 
.FP1{
   position: relative;
   left:60px;
   top: 80px;
   width: 10%;
   top:100px;
} 
.FP2{
   position: relative;
   left:140px;
   height: 300px;
   top: 65px;
   font-size:large;
   width: 15%;
}
.FP3{
   position: relative;
   left:226px;
   height: 400px;
   font-size:x-large;
}
.FP4{
   position: relative;
   left:290px;
   height: 300px;
   top: 65px;
   font-size:large;
   width: 15%;
}
.FP5{
   position: relative;
   left:360px;
   top:80px;
   width: 10%;
   top:100px;
}
.JBL1,.JBL2,.JBL3,.JBL4,.JBL5{
   display:flex;  
}
.JBL1discountprice{
   margin:7px 5px 7px 7px;
   font-size: 18px;
}
.JBL1price{
   font-size: 15px;
   margin:9px 8px 8px 5px;
   text-decoration: line-through;
   color:rgb(113, 116, 106);
   font-weight: bold;
}
.JBL2discountprice{
   margin:7px 5px 7px 7px;
   font-size: 25px;
}
.JBL2price{
   font-size: 20px;
   margin:9px 8px 8px 5px;
   text-decoration: line-through;
   color:rgb(113, 116, 106);
   font-weight: bold;
}
.JBL3discountprice{
   margin:7px 5px 7px 7px;
   font-size: 40px;
}
.JBL3price{
   font-size: 33px;
   margin:14px 8px 8px 5px;
   text-decoration: line-through;
   color:rgb(113, 116, 106);
   font-weight: bold;
}
.JBL4discountprice{
   margin:7px 5px 7px 7px;
   font-size: 25px;
}
.JBL4price{
   font-size: 20px;
   margin:9px 8px 8px 5px;
   text-decoration: line-through;
   color:rgb(113, 116, 106);
   font-weight: bold;
}
.JBL5discountprice{
   margin:7px 5px 7px 7px;
   font-size: 18px;
}
.JBL5price{
   font-size: 15px;
   margin:9px 8px 8px 5px;
   text-decoration: line-through;
   color:rgb(113, 116, 106);
   font-weight: bold;
}