*{
    background-color: rgb(31, 26, 26);
     color: lightgray;   
}
 .discription_Div{
    display: flex;
    }
 .Login_Button{
         border: none;
            color:rgb(69, 66, 66);
        }
        form input{
            font-size:15px;
            margin:7px;
            border: 2px solid gray;
            padding: 15px;
            width:300px;
        }
        form button{
            background-color:red;
            width:340px;
            border-radius: 7px;
            border:solid rgb(31, 26, 26);
            font-size: 15px;
            padding:15px;
            margin:6px;
        }
        .signupDiv{
            position: relative;
            left:500px;
            color: rgb(31, 26, 26);
            width: 500px;
        }
    